<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Accordion Menu</title>
<link rel="stylesheet" href="/js/Assignments/CSS Assign/CSS/accord.css">
</head>
<body>

<div class="accordion">
  <div class="accordion-item">
    <div class="accordion-header">
      Monkey D.Luffy
    </div>
    <div class="accordion-content">
      <p>He is the main protagonist, known for his cheerful and determined personality. 
        Luffy dreams of becoming the Pirate King by finding the legendary One Piece treasure.
         He possesses the power of the Gum-Gum Fruit (Gomu Gomu no Mi), which grants him elastic abilities, making him a formidable 
         fighter in battles against powerful foes. 
        Luffy values friendship and loyalty above all else, often risking everything to protect his crew and achieve his dreams.</p>
    </div>
  </div>

  <div class="accordion-item">
    <div class="accordion-header">
      Portgas D.Ace
    </div>
    <div class="accordion-content">
      <p>Luffy's older brother and a former member of the Whitebeard Pirates, Ace is known for his fiery personality and exceptional combat skills. 
        As a user of the Flame-Flame Fruit (Mera Mera no Mi), Ace can create and control fire at will. 
        Despite his rough exterior, Ace cares deeply for his loved ones, including Luffy and his crewmates. 
        His tragic fate plays a significant role in Luffy's journey and the storyline of "One Piece."</p>
    </div>
  </div>

  <div class="accordion-item">
    <div class="accordion-header">
      Sabo
    </div>
    <div class="accordion-content">
      <p>Initially believed to be deceased, Sabo is revealed to be alive and plays a pivotal role in the series. 
        He is another sworn brother to Luffy and Ace, having grown up together with them as part of the "Three Brothers" bond. 
        Sabo possesses the ability of the Dragon-Dragon Fruit (Ryu Ryu no Mi, Model: Dragon), which allows him to transform into a dragon and manipulate fire. 
        Sabo is intelligent, strategic, and passionate about freedom and justice, aligning himself with the Revolutionary Army to fight against oppression and tyranny in the world.</p>
    </div>
  </div>
</div>

<script src="/js/Assignments/CSS Assign/logic/accord.js"></script>
</body>
</html>
