<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flipping Card Effect</title>
    <link rel="stylesheet" href="/js/Assignments/CSS Assign/CSS/rotate.css">
</head>
<body>
    <div class="card-container">
        <div class="card">
            <div class="card-front">
                <img src="Assets/luffy_front.jpeg" alt="Front Iage">
            </div>
            <div class="card-back">
                <img src="Assets/luffy_back.jpeg" alt="Back Image">
            </div>
        </div>
    </div>
</body>
</html>
