/*.header{
    background-image:url('https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg');
    background-position: center center; 
    background-attachment: fixed;
    display:inline-block;
    width:100%;
    height:40vh;
    text-decoration: double;
    color: gray;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.homepageStyle{
    a:visited{
        color: green;
    }
    padding-left: 200px;
    display:inline-block;
    position:absolute;
}
.contactStyle{
    a:visited{
        color: green;
    }
    padding-left: 260px;
    display:inline-block;
    position:absolute;
}
.aboutUsStyle{
    a:visited{
        color: green;
    }
    padding-left: 340px;
    display:inline-block;
    position:absolute;
}
*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    font-family:cursive;
    font-style: italic;;
    padding: 20px 0;
    text-align: left;
    position:relative;
}

.header h1 {
    text-align: left;
    display: inline-flex;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    /* background-image: url('pancakes.jpeg');
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh; */
}

.main h2 {
    color: #333;
}

.main p {
    color: #555;
}
img{
    width: 10%;
    border-radius: 50%;
    size:0cap;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 15px;
    background-color: #f1f1f1;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    height:200px;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}
